<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?include Definitions.wxi ?>

	<Fragment>
		<ComponentGroup Id="AppComponents" >
			<Component Guid="{2295BEAB-1010-43A5-B1F2-FCE74018B89F}" Directory="INSTALLFOLDER" >
				<File Source="Trixter.XDream.API.dll" />
				<File Source="System.IO.Ports.dll" />
				<File Source="Newtonsoft.Json.dll" />
				<File Source="Trixter.XDream.Diagnostics.exe" />
				<File Source="$(var.LICENSE)" />
			</Component>

			<Component Id="Shortcuts" Directory="ProgramMenuTrixterFolder" >

				<Shortcut Id="Trixter.XDream.UI.ShortCut" Name="$(var.PRODUCT_NAME)" Description="GUI" Target="[INSTALLFOLDER]Trixter.XDream.Diagnostics.exe" WorkingDirectory="INSTALLFOLDER" Icon="white_x.ico" />

				<RemoveFolder Id="RemoveProgramMenuTrixterFolder" Directory="ProgramMenuTrixterFolder" On="uninstall" />

				<RegistryValue Root="HKCU" Key="Software\$(var.MANUFACTURER)\$(var.PRODUCT_NAME)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>

		</ComponentGroup>

	</Fragment>
</Wix>
