<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="TRIXTERFOLDER" Name="Trixter">
				<Directory Id="INSTALLFOLDER" Name="X-Dream Bike" />
			</Directory>
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ProgramMenuTrixterFolder" Name="Trixter" />
		</StandardDirectory>
	</Fragment>
</Wix>
