<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" >

	<?include Definitions.wxi ?>
	
	<Package Name="$(var.PRODUCT_NAME)" Manufacturer="$(var.MANUFACTURER)" Version="$(var.VERSION)" UpgradeCode="$(var.UPGRADE_CODE)" >
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<!-- Make the icons available-->
		<Icon Id="white_x.ico" SourceFile="..\Trixter.XDream.Diagnostics\white-x.ico" />
		<Icon Id="white_x_console.ico" SourceFile="..\Trixter.XDream.Diagnostics\Resources\white-x-console.ico" />

		<!-- Installer icon in Settings/Apps and Control Panel/Programs and Features -->
		<Property Id="ARPPRODUCTICON" Value="white_x.ico" />

		<!-- Manufacturer (support) URL displayed in Control Panel / Programs and Features -->
		<Property Id="ARPURLINFOABOUT" Value="$(var.GITHUB_URL)" />

		<Property Id="ARPCOMMENTS" Value="$(var.PRODUCT_DESC)" />
		<Property Id="ARPHELPLINK" Value="$(var.GITHUB_URL)" />

		<!-- Media -->
		<Media Id="1" Cabinet="$(var.OUTPUT_CAB).cab" EmbedCab="yes" />

		<!--    Check for .NET 4.8  -->
		<PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" />
		<Launch Condition="Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" Message="This software requires the .NET Framework 4.8." />

		<Feature Id="ProductFeature" Title="Trixter.XDream">
			<ComponentGroupRef Id="AppComponents" />
		</Feature>

		<ui:WixUI Id="WixUI_Minimal" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.LICENSE)" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.png" />

	</Package>
</Wix>
